<h1> Sign In </h1>

<form action="/users/create-session/" method="POST" autocomplete="off">
    <input type="email" name="email" placeholder="Your Email" required /><br/><br/>
    <input type="password" name="password" placeholder="Your Password" required /><br/><br/>
    <input type="submit" value="Sign In" /><br/><br/>
</form>