<h1> Sign Up </h1>

<form action="/users/create/" method="POST" autocomplete="off">
    <input type="text" name="name" placeholder="Your Name" required /><br/><br/>
    <input type="email" name="email" placeholder="Your Email" required /><br/><br/>
    <input type="password" name="password" placeholder="Your Password" required /><br/><br/>
    <input type="password" name="cpassword" placeholder="Confirm Password" required /><br/><br/>
    <input type="submit" value="Sign Up" /><br/><br/>
</form>